<div class="sidebar-container">
	<div class="sidebar-content">
		<h1 class="sidebar-menu">Menu</h1>
		<a [routerLink]="['/admin/games']">
			<button role="button" class="btn btn-primary m sidebar-button">Liste des jeux</button>
		</a>
		<a [routerLink]="['/admin/orders']">
			<button role="button" class="btn btn-primary m sidebar-button">Liste des commandes</button>
		</a>
		<a [routerLink]="['/admin/users']">
			<button role="button" class="btn btn-primary m sidebar-button">Liste des utilisateurs</button>
		</a>
	</div>
</div>
