.sidebar-container {
	height: 100%;
	max-width: 305px;
	width: 100%;
	background-color: #363636;
	overflow-x: hidden;
	padding-top: 20px;


	.sidebar-content {
		padding: var(--spacing-m) var(--spacing-xxxl);
		height: 100%;

		display: flex;
		flex-direction: column;
		align-items: center;
		column-gap: 10px;

		.sidebar-menu {
			margin-top: 100px;
			margin-bottom: 20px;
			font-size: var(--text-font-size-xxl);
		}

		.sidebar-button {
			width: 208px;
			height: 32px;
			border-radius: 6px;
			margin-top: 10px;
			font-size: var(--text-font-size-l);
		}
	}

}
